.footer-container {
    background-color: #00b4d8;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 151.133px;

    .footer-left {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 25px;
        }
    }

    .footer-right {
        // background-color: aqua;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 35%;

        .footer-help-links {
            // width: 63%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            // background-color: bisque;

            li {
                margin: 0 .8em;
            }
        }

        .footer-socials-container {
            // background-color: rgb(138, 255, 138);
            // width: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 2em;

            i {
                margin: 0 .5em;
                color: #007a92;
            }
        }
    }
}

@media (max-width: 870px) {
    .footer-right {
        flex-direction: column !important;

        .footer-help-links {
            padding-bottom: 1.5em;
        }
    }
}

@media (max-width: 710px) {
    .footer-container {
        padding: 1.5em 0;
    }
    .footer-left {
        display: none !important;
    }
}

@media (max-width: 470px) {
    .footer-help-links {
        flex-direction: column !important;
        
        li {
            padding: .2em 0;
        }
    }

    .footer-socials-container {
        padding: 0 !important;
    }
}