.homepage-banner-container {
    background-color: rgb(244, 252, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // max-width: 100%;
    // height: 9em;
    // border-bottom-left-radius: .3em;
    // border-bottom-right-radius: .3em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    height: 500px;
    overflow: hidden;
    position: relative;

    .banner-image {
        width: 100%;
        object-fit: cover;
        min-height: 1080px;
    }

    .banner-image .image-tint {
        background-color: rgba(200, 100, 0, .5);
        background-blend-mode: multiply;
    }

    .header-image-tint {
        position: absolute;
        height: 1000px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .homepage-banner-text-container {
        position: absolute;
        // z-index: 1;
        top: 80px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        max-width: 100%;

        p {
            font-family: "Pacifico", cursive;
            padding: .3em 0;
            font-size: 3em;
            text-align: center;
            color: #ddf8fd;
            text-shadow: #00b4d8 1px 1px;
        }


    }

}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0 .5em;


    .homepage-information-container {
        background-color: rgb(244, 252, 255);
        font-family: sans-serif;
        width: 1100px;
        max-width: 100%;
        padding: 0 1em;
        margin-top: 3em;
        border-radius: .3em;
        border: 3px solid #ddf8fd;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

        .homepage-information-title {
            font-size: 34px;
            padding-top: .5em;
            padding-bottom: 1em;
        }

        p {
            font-size: 1.05em;
            padding: .7em 0;
        }

        .homepage-information-restrictions {
            padding: 0 1em;
            width: 95%;
            margin-left: .5em;
            background-color: #ebebeb;
            font-style: italic;
        }

        .homepage-information-website-cookies {
            font-weight: bold;
        }
    }

    .dog-adoption-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 1100px;
        max-width: 100%;

        .dog-adoption-search-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 4em 1em 3em 1em;

            .dog-adoption-search-container-left {
                justify-content: center;
                align-items: center;
                justify-content: center;
                width: 40%;

                .dog-adoption-search-input-container {
                    background-color: white;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    padding: .3em;
                    border-radius: .3em;
                    border: 1px solid grey;

                    .dog-adoption-search-input {
                        width: 100%;
                        font-size: .9em;
                        padding: .1em;
                        border: none;
                        outline: none;
                    }

                    i {
                        cursor: pointer;
                    }
                }
            }


            .dog-adoption-search-container-right {
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    position: relative;

                    button {
                        padding: .1em .5em;
                        font-family: sans-serif;
                        border-radius: .3em;
                        border: 1px solid grey;
                        background-color: white;
                        margin: 0 .4em;
                        cursor: pointer;
                    }

                    .sex-selection-menu {
                        position: absolute;
                        background-color: aqua;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        padding: .1em .5em;
                        font-family: sans-serif;
                        border-radius: .3em;
                        border: 1px solid grey;
                        background-color: white;
                        margin: 0 .4em;
                        width: 7em;
                        left: 0;

                        div {

                            label {
                                padding: .6em;
                            }
                        }
                    }

                    .age-selection-menu {
                        position: absolute;
                        background-color: aqua;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        padding: .1em .5em;
                        font-family: sans-serif;
                        border-radius: .3em;
                        border: 1px solid grey;
                        background-color: white;
                        margin: 0 .4em;
                        width: 7em;
                        left: 0;

                        div {

                            label {
                                padding: .6em;
                            }
                        }
                    }

                    .size-selection-menu {
                        position: absolute;
                        background-color: aqua;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        padding: .1em .5em;
                        font-family: sans-serif;
                        border-radius: .3em;
                        border: 1px solid grey;
                        background-color: white;
                        margin: 0 .4em;
                        width: 7em;
                        left: 0;

                        div {

                            label {
                                padding: .6em;
                            }
                        }
                    }

                    .clear-all-btn {
                        background-color: rgb(255, 239, 239);
                        color: rgb(255, 65, 65);
                    }
                }
            }
        }

        .dog-adoption-photo-container {
            padding: 2em 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5em;

            .dog-adoption-no-results-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2 {
                    text-align: center;
                    font-family: sans-serif;
                    font-size: 2.2em;
                }

                img {
                    width: 95%;
                }
            }

            .adoption-photo-containers {
                height: 20em;
                width: 15em;
                background-color: aliceblue;
                border-radius: .3em;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                position: relative;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border: 4px solid #caf0f8;

                img {
                    height: 115%;
                }

                .adoption-photo-box-shadow {
                    height: 20%;
                    width: 100%;
                    background-color: #caf0f8;
                    position: absolute;
                    bottom: 0;
                }


                .adoption-photo-information-container {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: black;
                    font-family: sans-serif;
                    padding: .7em;

                    p {
                        padding-top: .4em;
                    }
                }
            }
        }

        .dog-adoption-load-more-btn {
            margin: 3em 0;
            font-family: sans-serif;
            font-size: 15px;
            padding: .3em 1.5em;
            border-radius: .3em;
            border: 1px solid grey;
            background-color: white;
            transition: .1s all linear;
            cursor: pointer;
        }

        .dog-adoption-load-more-btn:hover {
            background-color: #007a92;
            color: white;
            border: 1px solid #007a92;
        }
    }
}

@media (max-width: 770px) {
    .homepage-information-container {

        .homepage-information-title {
            text-align: center;
        }

        p {
            text-align: justify;
        }
    }
}

@media (max-width: 700px) {
    .dog-adoption-search-container {
        flex-direction: column !important;

        .dog-adoption-search-container-left {
            padding-bottom: 1.5em;
            min-width: 70% !important;
        }
    }
}

@media (max-width: 520px) {
    .homepage-banner-text-container {
        position: absolute;
        // z-index: 1;
        top: 80px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 350px !important;
        max-width: 100%;

        p {
            font-family: "Pacifico", cursive;
            padding: .3em 0;
            font-size: 2.5em !important;
            text-align: center;
            color: #ddf8fd;
        }


    }
    .adoption-photo-containers {
        height: 15em !important;
        width: 10.2em !important;

        .adoption-photo-information-container {

            p {
                font-size: .7em !important;
                padding-top: .1em !important;
            }
        }
    }
}